* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.entrada {
  background: green;
  color: white;
}

.saida {
  background: crimson;
  color: white;
}

.manual {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #222;
  color: white;
  padding: 12px;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.delete {
  background: red;
  color: white;
}

.total {
  margin-top: 25px;
  text-align: center;
}

.total p {
  font-size: 24px;
  font-weight: bold;
}